<%- include("partials/header") %>
	<section class="banner" id="top">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="left-banner-content">
						<div class="text-content">
							<h6>Let's go...</h6>
							<div class="line-dec"></div>
							<h1>Sparks Banking <br>System</h1>
							<div class="white-border-button">
								<a href="https://www.thesparksfoundationsingapore.org/" target="_blank"
									class="scroll-link" data-id="best-offer-section">Discover More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include("partials/footer") %>